.form-box {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 75px;
}

.form-box .form-group {
    margin-top: 20px;
}

.form-box button {
    width: 100%;
    margin-top: 20px;
}

.products-table {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 75px;
}